#top {
    background-image: url(../images/the-flatiron-building.png);
}

html {
    font-family: Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: white;
    font-size: 70px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 23px;
    font-weight: bold;
}

p {
    font-size: 14px;
}

ul {
    list-style-type: none;
}

a {
    color: white;
}

li {
    font-size: 18px;
}

#divider {
    background-image: url(../images/the-flatiron-building.png);
    color: white;
}

footer {
    text-align: left;
    background-color: dimgray;
    font-size: 11px;
    color: white;
}

.nav-btn {
    font-size: 18px;
}
